/* Elmaddin Abishov 

my site - v1.0

12.sep.2021

bizi öldürməyən şey gücləndirir


*/

/*  
Elmaddin Abishov  - iyirmibir - update: 2022 v2.0
*/

body{
    background-image: url(https://terabox.com/s/1NRKrqH1wVPqTthBb0rZY6g);
    background-size: cover;
}

.background{
    width: 100%;
    height: 80vh;
    margin-top: 10vh;
    /* filter: blur(8px);
    -webkit-filter: blur(8px);
    background-color: #000;
    opacity: 40%; */
    display: flex;
    justify-content: space-between;
}

.left_box .text_custom{
    margin-bottom: 50px;
}

.left_box .text_custom .f1{
    line-height: 50px;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 48px;
    color: #fff;
}

.left_box .text_custom .f2{
    font-size: 22px;
    font-family: 'FontAwesome';
    color: #fff;
}

.left_box .social_box{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}

.left_box .social_box li{
    margin-right: 25px;
}

.left_box .social_box li a{
    color: #fff;
}

/*  */

.right_box .about_box li{
    list-style: none;
    border-top: 1px #fff solid;
    padding: 10px 0;
}
.right_box .about_box li:last-child {
    border-bottom: 1px #fff solid;
}

.right_box .about_box li a{
    color: #fff;
}
